<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio Website</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/fe455e1570.js" crossorigin="anonymous"></script>
    <!-- CSS Stylesheets -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'>
</head>

<body>

    <section id="about-section">
        <div class="container-fluid px-0">
            <h1 class="about-heading">About Me</h1>


            <div class="card" id="work-card">
                <div class="card-block">
                    <h2 class="card-heading">Work</h2>
                    <div>
                        <small class="date">2018-2021</small>
                        <h3>Web Application Developer - <a href="https://www.verteldigital.com/"
                                style="text-decoration: none;">Vertel Digital Private Limited</a></h3>


                        <ul>
                            <li>Working with a diverse team of developers, product owners and analysts to define, design
                                and
                                develop API and microservices for enterprise backend systems.</li>
                            <li>Writing high quality code and testing the source code through stringent routines and
                                procedures to ensure that it runs smoothly and with optimum efficiency.</li>
                            <li>Designing the application interface to improve the overall user experience.</li>
                            <li>Coordinating with agile team to implement new features and optimize existing ones from
                                draft to implementation.</li>
                        </ul>
                    </div>

                    <div>
                        <small class="date">2017-2018</small>
                        <h3>Computer Science Intern - <a
                                href="https://www.drdo.gov.in/labs-and-establishments/defence-scientific-information-documentation-centre-desido"
                                style="text-decoration: none;">DESIDOC, Govt. of India, DRDO, New Delhi</a>
                        </h3>

                        <ul>
                            <li>Worked on software development of DESIDOC Human Resource Management System.</li>
                            <li>Using
                                technologies like HTML, CSS, Bootstrap, Java, JQuery, JavaScript, MySQL.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card" id="edu-card">
                <div class="card-block">
                    <h2 class="card-heading">Education</h2>

                    <div class="education-experience">
                        <small class="date">2021-Present</small>
                        <h3>Conestoga College, Waterloo, Canada</h3>
                        <ul>
                            <li>PG Diploma in Mobile Solutions Development</li>
                        </ul>

                    </div>

                    <div>
                        <small class="date">2013-2017</small>
                        <h3>University of Delhi</h3>
                        <ul>
                            <li>Bachelor of Engineering In Computer Science</li>
                        </ul>

                    </div>
                    <div>
                        <small class="date">2012-2013</small>
                        <h3>Cambridge Foundation School</h3>
                        <ul>
                            <li>Higher Secondary Education</li>
                        </ul>

                    </div>
                </div>
            </div>

            <div class="card" id="hobbies">
                <div class="card-block">
                    <h2 class="card-heading">Hobbies</h2>

                    <div>
                        <ul>
                            <li>Reading Technology Blogs</li>
                            <li>Watching Web Series</li>
                            <li>Playing Cricket and Volleyball</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

    </section>
    <script src="script.js"></script>
</body>

</html>