<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio Website</title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/fe455e1570.js" crossorigin="anonymous"></script>
    <!-- CSS Stylesheets -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'>

    {{!-- [Sheikh,2021] Sheikh, A.(Accessed Week 9 and 10 lectures)
    https://conestogac.zoom.us/rec/play/-G3iqriHMDhi-SdQLcNyRM0E7RDabFfNayod65UrM4jeY6PvTFMwKjVy7fBSEFx8zyi-_oYB-5uzllyO.U4q9Cf6f3tWzNHG_?continueMode=true
    https://conestogac.zoom.us/rec/play/LAdn3ZdBHymOJb1BTFDBuEeRxxDY-oLaTSHEpKD5ko7qtr7mbyCOP4blNEVkFFXKnNmTWriZ1GG8B0dE.FMFPqmg54oJLy4qw?continueMode=true
    --}}

</head>

<body>
    <div class="container-fluid px-0">

        <section>
            <div class="hero-section">
                <div class="col-lg-12">

                    <div class="profile-img">
                        <img src="/images/chiranjeev-pic.PNG" alt="my-pic" class="rounded-circle">
                    </div>
                    <h1 class="big-heading">I'm Chiranjeev Mal</h1>
                    <h4 class="description-heading">I'm a Web Application Developer from New Delhi, India. I am
                        passionate about creating and designing
                        professional Web applications. I build interactive website designs that can run across various
                        platforms and devices.</h4>

                    <div class="icon-hero">
                        <a href="https://github.com/Chiranjeev01" target="_blank"><i
                                class="social-icon fab fa-github fa-2x center"></i></a>
                        <a href="https://www.linkedin.com/in/chiranjeevmal" target="_blank"><i
                                class="social-icon fab fa-linkedin fa-2x"></i></a>
                        <a href="mailto: Cmal8393@conestogac.on.ca" target="_blank"><i
                                class="social-icon fas fa-envelope fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </Section>

        <section id="skill-area">
            <div class="container-fluid">
                <h1 class="skill-heading">Skills</h1>
                <div class="row">
                    <div class="col-lg-4 skill-set">
                        <i class="icon fa fa-html5 fa-4x"></i>
                        <h3>HTML</h3>
                        <div class="progress-section">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="98" aria-valuemin="0"
                                    aria-valuemax="100" style="width:98%">
                                    98%
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 skill-set">
                        <i class="icon fab fa-css3-alt fa-4x"></i>
                        <h3>CSS</h3>
                        <div class="progress-section">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0"
                                    aria-valuemax="100" style="width:95%">
                                    95%
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 skill-set">
                        <i class="icon fab fa-js fa-4x"></i>
                        <h3>Javascript</h3>
                        <div class="progress-section">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="92" aria-valuemin="0"
                                    aria-valuemax="100" style="width:85%">
                                    85%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 skill-set">
                        <i class="icon fab fa-node fa-4x"></i>
                        <h3>Node js</h3>
                        <div class="progress-section">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                    aria-valuemax="100" style="width:75%">
                                    75%
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 skill-set">
                        <i class="icon fab fa-react fa-4x"></i>
                        <h3>React js</h3>
                        <div class="progress-section">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="77" aria-valuemin="0"
                                    aria-valuemax="100" style="width:77%">
                                    77%
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 skill-set">
                        <i class="icon fas fa-database fa-4x"></i>
                        <h3>MySql</h3>
                        <div class="progress-section">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="89" aria-valuemin="0"
                                    aria-valuemax="100" style="width:89%">
                                    89%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <script src="script.js"></script>
</body>

</html>