<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Portfolio Website</title>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/fe455e1570.js" crossorigin="anonymous"></script>

  <!-- Flatly Bootstrap theme from Bootswatch -->

  <!-- CSS Stylesheets -->
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'>
</head>

<body>
  <div class="container-fluid px-0">


    <!-- Navbar -->
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">

      <!-- Links -->
      <ul class="navbar-nav">

        <a class="nav-brand" href="/"><img src="/images/gamer.png" alt="avatar"
            style=" height: 40px; width: 40px; margin-left: 10px; margin-right: 20px;"></a>

        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About Me</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/projects">Projects</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact Me</a>
        </li>
      </ul>
    </nav>
    <!-- End of Navbar -->
  </div>

  <script src="script.js"></script>
  {{{body}}}
</body>

</html>