<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Portfolio Website</title>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/fe455e1570.js" crossorigin="anonymous"></script>

  <!-- Flatly Bootstrap theme from Bootswatch -->

  <!-- CSS Stylesheets -->
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'>
</head>

<body>
  <div class="container-fluid px-0">


    <!-- Navbar -->
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">

      <!-- Links -->
      <ul class="navbar-nav">

        <a class="nav-brand" href="/"><img src="/images/gamer.png" alt="avatar"
            style=" height: 40px; width: 40px; margin-left: 10px; margin-right: 20px;"></a>

        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About Me</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/projects">Projects</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
    </nav>
    <!-- End of Navbar -->
  </div>

  <script src="script.js"></script>
  {{{body}}}

  <footer id="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <h3>Contact Info</h3>
          <ul class="list-unstyled">
            <li><a href="#" style="text-decoration: none;">Chiranjeev Mal</a></li>
            <li><a href="#" style="text-decoration: none;"><i class="footer-icon fas fa-phone"></i>Mobile:
                437-988-9433</a></li>
            <li><a href="#" style="text-decoration: none;"><i class="footer-icon fas fa-envelope"></i>E-mail:
                chiranjeevmal1995@gmail.com</a></li>
            <li><a href="#" style="text-decoration: none;"><i class="footer-icon fas fa-map-marker-alt"></i>Waterloo,
                Ontario, Canada</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>Categories</h3>
          <ul class="list-unstyled">
            <li><a href="/">Home</a></li>
            <li><a href="/projects">My Portfolio</a></li>
            <li><a href="/about">About Me</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>More Info About Me</h3>
          <div>
            <a href="https://github.com/Chiranjeev01" target="_blank"><i
                class="social-icon fab fa-github fa-lg"></i></a>
            <a href="https://www.linkedin.com/in/chiranjeevmal" target="_blank"><i
                class="social-icon fab fa-linkedin fa-lg"></i></a>
            <a href="mailto: Cmal8393@conestogac.on.ca" target="_blank"><i
                class="social-icon fas fa-envelope fa-lg"></i></a>
          </div>
        </div>

      </div>
      <p class="copyright">Chiranjeev Mal © Portfolio 2021</p>
    </div>

  </footer>
</body>

</html>