<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio Website</title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/fe455e1570.js" crossorigin="anonymous"></script>

    <!-- Flatly Bootstrap theme from Bootswatch -->

    <!-- CSS Stylesheets -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'>
</head>

<body>
    <section id="project-section">
        <div class="container-fluid px-0">
            <h1 class="project-heading">List of Projects</h1>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="/images/my-portfolio.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">My Portfolio</h5>
                            <p class="card-text">Node js Web Project</p>
                            <a href="https://github.com/Chiranjeev01/MyPortfolio/tree/master" class="btn btn-primary"
                                target="_blank">Open Project</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="/images/blowin-website.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Audio E-Commerce Web Design</h5>
                            <p class="card-text">UI/UX Project</p>
                            <a href="https://xd.adobe.com/view/a658aba1-0d5c-479b-a0ce-41de38229e8c-f30b/"
                                class="btn btn-primary" target="_blank">Open Project</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="/images/music-project.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Music Streaming Website Design</h5>
                            <p class="card-text">UI/UX Project</p>
                            <a href="https://xd.adobe.com/view/ca332dae-03ee-4f4d-8998-e727117de7ab-9f60/"
                                class="btn btn-primary" target="_blank">Open Project</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>